<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset = "ISO-8859-1"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div th:insert="~{fragments/navbar.html :: navbar}"></div>

<div class="container-fluid" style="font-size: 20px">
    <div class="container">
        <h1><span th:text="#{profile.hello}"></span>, <span th:text="${user.name}"></span> <span th:text="${user.surname}"></span> </h1>
        <h2> <span th:text="#{role.Name}"></span>:
            <span th:if="${role=='[ADMIN]'}" th:text="#{role.ADMIN}"></span>
            <span th:if="${role=='[SENIOR_CASHIER]'}" th:text="#{role.SENIOR_CASHIER}"></span>
            <span th:if="${role=='[CASHIER]'}" th:text="#{role.CASHIER}"></span>
            <span th:if="${role=='[MERCHANT]'}" th:text="#{role.MERCHANT}"></span>
        </h2>
        <div th:if="${role=='[ADMIN]'}">
            <a href="/users" class="nav-link"><h2 th:text="#{admin.users}">></h2></a>
        </div>
        <div th:if="${role=='[ADMIN]'|| role=='[MERCHANT]'}">
            <a href="/products" class="nav-link"><h2 th:text="#{admin.products}"></h2></a>
        </div>
        <div th:if="${role=='[ADMIN]' || role=='[SENIOR_CASHIER]'|| role=='[CASHIER]'}">
            <a href="/invoices" class="nav-link"><h2 th:text="#{admin.invoice}">></h2></a>
        </div>
    </div>
</div>
</body>
<div th:insert="~{fragments/style.html :: style}"></div>
</html>


