<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset = "ISO-8859-1"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<nav class="main-navigation">
    <ul class="nav-list">
        <th:block th:if="${user}">
            <th:block th:if="${user.getUserRole().toString()=='[ADMIN]' || user.getUserRole().toString()=='[SENIOR_CASHIER]'|| user.getUserRole().toString()=='[CASHIER]' || user.getUserRole().toString()=='[MERCHANT]'}">
                <li class="nav-list-item">
                    <a href="/admin" class="nav-link"> <p th:text="#{menu.admin}"></p> </a>
                </li>
            </th:block>
        </th:block>
        <li class="nav-list-item">
            <a href="/" class="nav-link"><p th:text="#{menu.home}"></p></a>
        </li>
        <th:block th:if="${user}">
            <li class="nav-list-item">
                <a href="/logout" class="nav-link"><p th:text="#{menu.logout}"></p></a>
            </li>
        </th:block>
        <th:block th:unless="${user}">
            <li class="nav-list-item">
                <a href="/login" class="nav-link"><p th:text="#{menu.login}"></p></a>
            </li>
            <li class="nav-list-item">
                <a href="/registration" class="nav-link"><p th:text="#{menu.signup}"></p></a>
            </li>
        </th:block >
        <li  class="nav-list-item" th:switch= "#{lang}" >
            <a th:case="'en'" href="?lang=ua" class="nav-link"><p th:text="#{menu.ukraine}"></p></span></a>
            <a th:case="'ua'"  href="?lang=en" class="nav-link"><p th:text="#{menu.english}"></p></span></a>
        </li>
    </ul>
</nav>

<div class="container-fluid" style="font-size: 20px">
    <div class="container">
        <h1><span th:text="#{profile.hello}"></span>, <span th:text="${user.name}"></span> <span th:text="${user.surname}"></span> </h1>
        <h2> <span th:text="#{role.Name}"></span>:
            <span th:if="${role=='[ADMIN]'}" th:text="#{role.ADMIN}"></span>
            <span th:if="${role=='[SENIOR_CASHIER]'}" th:text="#{role.SENIOR_CASHIER}"></span>
            <span th:if="${role=='[CASHIER]'}" th:text="#{role.CASHIER}"></span>
            <span th:if="${role=='[MERCHANT]'}" th:text="#{role.MERCHANT}"></span>
        </h2>
        <div th:if="${role=='[ADMIN]'}">
            <a href="/users" class="nav-link"><h2 th:text="#{admin.users}">></h2></a>
        </div>
        <div th:if="${role=='[ADMIN]'|| role=='[MERCHANT]'}">
            <a href="/products" class="nav-link"><h2 th:text="#{admin.products}"></h2></a>
        </div>
        <div th:if="${role=='[ADMIN]' || role=='[SENIOR_CASHIER]'|| role=='[CASHIER]'}">
            <a href="/invoices" class="nav-link"><h2 th:text="#{admin.invoice}">></h2></a>
        </div>
    </div>
</div>
</body>
<div th:insert="~{fragments/style.html :: style}"></div>
</html>


