<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/head.html :: head}"></div>
<body>
<div th:insert="~{fragments/navbar.html :: navbar}"></div>
<div class="fadeIn first">
    <div class="container-fluid" style="font-size: 20px">
        <div class="container">
            <a href="/invoices" class="nav-link"><h2 th:text="#{menu.back}" ></h2></a>
            <h2 th:text="#{admin.createInvoice}"></h2>
            <button type="submit"  form = "checked" class="btn btn-success" th:text="#{btn.create}"></button>
        </div>
    </div>
    <form id = "checked" method="post" th:action="@{/createInvoice}"th:object="${form}" >
        <div class="container">
            <div class="row">
                <table class="table table-bordered" >
                    <thead>
                    <tr>
                        <th th:text="#{products.code}" ></th>
                        <th th:text="#{products.name}"></th>
                        <th th:text="#{products.description}"><</th>
                        <th th:text="#{products.cost}"></th>
                        <th th:text="#{products.quantity}"></th>
                        <th class="text-center" th:text="#{payments.setQuantity}"></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="product:${page.content}">
                            <td th:text="${product.code}" ></td>
                            <td th:text="${product.name}"></td>
                            <td th:text="${product.description}"><</td>
                            <td th:text="${product.cost}"></td>
                            <td th:text="${product.quantity}"></td>
                            <td >
                                <input class="form-control form-control-sm" hidden th:name="idQuantity" th:value="${product.code}"/>
                                <input class="form-control form-control-sm"  th:name="idQuantity" size="1" type="number" th:min = "0" th:max="${product.quantity}  " th:value="0"/>
                            </td>
                        </tr>
                        <table border="1" cellpadding="5" cellspacing="5">
                            <tr>
                                <div th:if="${page.totalPages > 0}"
                                     th:each="pageNumber : ${pageNumbers}">
                                    <td>
                                        <a th:href="@{/createInvoice(page=${pageNumber}-1)}"
                                           th:text="${pageNumber}"></a>
                                    </td>
                                </div>
                            </tr>
                        </table>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
</body>
<div th:insert="~{fragments/style.html :: style}"></div>
</html>

