<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/head.html :: head}"></div>
<body>
<div th:insert="~{fragments/navbar.html :: navbar}"></div>
<div class="fadeIn first">
    <div class="container-fluid" style="font-size: 20px">
        <div class="container">
            <a href="/invoices" class="nav-link"><h2 th:text="#{menu.back}" ></h2></a>
            <h2 th:text="#{admin.editInvoice}" ></h2>
            <h2 class="text-center" th:text="#{payments.total}"> </h2>:
                <h2 th:text="${total}">  </h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th th:text="#{payments.invoiceCode}"></th>
                    <th th:text="#{payments.productCode}"></th>
                    <th th:text="#{products.quantity}" ></th>
                    <th th:text="#{products.cost}"></th>
                    <th class="text-center" width="15%" th:text="#{menu.action}"></th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="order:${page.content}">
                        <form  method="post" th:action="@{/editInvoice}" >
                        <td th:text="${order.invoice.invoiceCode}"></td>
                        <td th:text="${order.product.code}"></td>
                        <td>
                            <div th:switch="${order.getInvoice().getStatus().toString()}">
                            <p th:case="'[FINISHED]'" th:text="${order.quantity}"></p>
                            <p th:case="'[CANCELLED]'" th:text="${order.quantity}"></p>
                                <th:block th:if="${errorUpdate==order.orderId}"><h6 style="color: red" th:text="#{error.quantity}">  </h6></th:block>
                            <input th:case="'[CREATED]'"  class="form-control form-control-sm" size="1" min="0"  type="number"  th:name = "setQuantity" th:value="${order.quantity}">
                            </div>
                        </td>
                        <td th:text="${order.orderValue}"></td>
                        <td align="center" th:if="${order.getInvoice().getStatus().toString()=='[CREATED]'}">
                            <input class="input" type="text"  hidden th:name="invoiceId" th:value="${invoiceId}"/>
                            <input class="input" type="text"  hidden th:name="orderId" th:value="${order.orderId}"/>
                            <button  type="submit" name="action" value="update" class="btn btn-primary" th:text="#{btn.update}" ></button>
                            <button  type="submit" name="action" value="delete" class="btn btn-danger" th:text="#{btn.del}" ></button>
                        </td>
                        </form>
                    </tr>
                </tbody>
                </tbody>
                <th:block th:if="${status=='[CREATED]'}">
                <thead>
                <tr>
                    <th colspan="2" th:text="#{payments.productCode}" ></th>
                    <th colspan="2" th:text="#{products.quantity}" ></th>
                    <th class="text-center" width="15%" th:text="#{menu.action}"></th>
                </tr>
                </thead>
                <tbody>
                <form id="add" method="post" th:action="@{/editInvoice}" >
                    <tr>
                        <td colspan="2">
                            <select  class="form-control"  th:name="productCode" required>
                                <th:block  th:each="product:${products}">
                                    <option th:text="${product.code}" th:value="${product.code}"></option>
                                </th:block>
                            </select>
                        </td>
                        <td colspan="2">
                            <th:block th:if="${errorAdd}"><h6 style="color: red" th:text="#{error.quantity}">  </h6></th:block>
                            <input class="form-control form-control-sm" size="1" type="number" min="0" th:name="addQuantity"  required /></td>
                        <td align="center" >
                            <input class="input" type="text"  hidden th:name="invoiceId" th:value="${invoiceId}"/>
                            <button type="submit"  name="action" value="add" form = "add" class="btn btn-success btn-sm" th:text="#{btn.addProduct}" >/button>
                        </td>
                    </tr>
                </form>
                </tbody>
                </th:block>
                <table border="1" cellpadding="5" cellspacing="5">
                    <tr>
                        <div th:if="${page.totalPages > 0}"
                             th:each="pageNumber : ${pageNumbers}">
                            <td>
                                <form th:action="@{/editInvoice}" method="post">
                                <input type="text" hidden  th:name="id" th:value="${invoiceId} ">
                                <input type="text" hidden  th:name="page" th:value="${pageNumber}-1 ">
                                <button style="border: 0;background: transparent;" type="submit" > <span th:text="${pageNumber}"></span></button>
                                </form>
                            </td>
                        </div>
                    </tr>
                </table>
            </table>
        </div>
    </div>
</div>
</body>
<div th:insert="~{fragments/style.html :: style}"></div>
</html>

