<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset = "ISO-8859-1"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<nav class="main-navigation">
    <ul class="nav-list">
        <th:block th:if="${user}">
            <th:block th:if="${user.getUserRole().toString()=='[ADMIN]' || user.getUserRole().toString()=='[SENIOR_CASHIER]'|| user.getUserRole().toString()=='[CASHIER]' || user.getUserRole().toString()=='[MERCHANT]'}">
                <li class="nav-list-item">
                    <a href="/admin" class="nav-link"> <p th:text="#{menu.admin}"></p> </a>
                </li>
            </th:block>
        </th:block>
        <li class="nav-list-item">
            <a href="/" class="nav-link"><p th:text="#{menu.home}"></p></a>
        </li>
        <th:block th:if="${user}">
            <li class="nav-list-item">
                <a href="/logout" class="nav-link"><p th:text="#{menu.logout}"></p></a>
            </li>
        </th:block>
        <th:block th:unless="${user}">
            <li class="nav-list-item">
                <a href="/login" class="nav-link"><p th:text="#{menu.login}"></p></a>
            </li>
            <li class="nav-list-item">
                <a href="/registration" class="nav-link"><p th:text="#{menu.signup}"></p></a>
            </li>
        </th:block >
        <li  class="nav-list-item" th:switch= "#{lang}" >
            <a th:case="'en'" href="?lang=ua" class="nav-link"><p th:text="#{menu.ukraine}"></p></span></a>
            <a th:case="'ua'"  href="?lang=en" class="nav-link"><p th:text="#{menu.english}"></p></span></a>
        </li>
    </ul>
</nav>

<div class="wrapper fadeInDown">
    <div id="formContent">

        <!-- Tabs Titles -->
        <div class="fadeIn first">
            <h2 th:text="#{editProduct.top}"></h2>
        </div>


        <!-- Login Form -->
        <form name="addProduct" method="post" th:action="@{/editProduct}" th:object="${product}" >
            <input type="text" hidden th:field="*{productId}" th:value="*{productId}">
            <input type="text" hidden name="action" value="save">
            <input type="text"  hidden th:field="*{code}" th:value="*{code}"   class="fadeIn second" required th:placeholder="#{addProduct.code}">
            <th:block th:if="${#fields.hasErrors('name')}"><h6 style="color: red" th:text="#{error.null}">  </h6></th:block>
            <input type="text"th:field="*{name}"  th:value="*{name}"  class="fadeIn second"required th:placeholder="#{addProduct.productName}">
            <th:block th:if="${#fields.hasErrors('description')}"><h6 style="color: red" th:text="#{error.null}">  </h6></th:block>
            <input type="text" th:field="*{description}" th:value="*{description}"  class="fadeIn second" required th:placeholder="#{addProduct.description}">
            <th:block th:if="${#fields.hasErrors('cost')}"><h6 style="color: red" th:text="#{error.null}">  </h6></th:block>
            <input type="number" class="number" min="0" th:field="*{cost}"  th:value="*{cost}"  required th:placeholder="#{addProduct.cost}">
            <th:block th:if="${#fields.hasErrors('quantity')}"><h6 style="color: red" th:text="#{error.null}">  </h6></th:block>
            <input type="number" class="number" min="0" th:field="*{quantity}"  th:value="*{quantity}" required th:placeholder="#{addProduct.quantity}">
            <input type="submit" name="" class="fadeIn fourth" th:value="#{btn.save}">
            <a class="btn btn-danger" role="button" href="/products" th:text="#{btn.cancel}"></a>
        </form>

    </div>
</div>

</body>
<div th:insert="~{fragments/style.html :: style}"></div>
</html>
