<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/head.html :: head}"></div>
<body>
<div th:insert="~{fragments/navbar.html :: navbar}"></div>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <div class="fadeIn first">
            <h2 th:text="#{editProduct.top}"></h2>
        </div>
        <!-- Login Form -->
        <form name="addProduct" method="post" th:action="@{/editProduct}" th:object="${product}" >
            <input type="text" hidden th:field="*{productId}" th:value="*{productId}">
            <input type="text" hidden name="action" value="save">
            <input type="text"  hidden th:field="*{code}" th:value="*{code}"   class="fadeIn second" required th:placeholder="#{addProduct.code}">
            <th:block th:if="${#fields.hasErrors('name')}"><h6 style="color: red" th:text="#{error.null}">  </h6></th:block>
            <input type="text"th:field="*{name}"  th:value="*{name}"  class="fadeIn second"required th:placeholder="#{addProduct.productName}">
            <th:block th:if="${#fields.hasErrors('description')}"><h6 style="color: red" th:text="#{error.null}">  </h6></th:block>
            <input type="text" th:field="*{description}" th:value="*{description}"  class="fadeIn second" required th:placeholder="#{addProduct.description}">
            <th:block th:if="${#fields.hasErrors('cost')}"><h6 style="color: red" th:text="#{error.null}">  </h6></th:block>
            <input type="number" class="number" min="0" th:field="*{cost}"  th:value="*{cost}"  required th:placeholder="#{addProduct.cost}">
            <th:block th:if="${#fields.hasErrors('quantity')}"><h6 style="color: red" th:text="#{error.null}">  </h6></th:block>
            <input type="number" class="number" min="0" th:field="*{quantity}"  th:value="*{quantity}" required th:placeholder="#{addProduct.quantity}">
            <input type="submit" name="" class="fadeIn fourth" th:value="#{btn.save}">
            <a class="btn btn-danger" role="button" href="/products" th:text="#{btn.cancel}"></a>
        </form>
    </div>
</div>
</body>
<div th:insert="~{fragments/style.html :: style}"></div>
</html>
