<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/head.html :: head}"></div>
<body>
<div th:insert="~{fragments/navbar.html :: navbar}"></div>
<div class="fadeIn first">
    <div class="container-fluid" style="font-size: 20px">
        <div class="container">
            <a href="/admin" class="nav-link"><h2 th:text="#{menu.back}" ></h2></a>
            <h2 th:text="#{admin.invoice}" ></h2>
            <a href="/createInvoice" role="button" class="btn btn-success" th:text="#{btn.create}"></a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th th:text="#{products.code}"></th>
                    <th th:text="#{invoices.date}"></th>
                    <th th:text="#{invoices.note}"></th>
                    <th th:text="#{invoices.status}"></th>
                    <th class="text-center" width="25%" th:text="#{menu.action}" ></th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="invoice:${page.content}">
                        <td th:text="${invoice.invoiceCode}"></td>
                        <td th:text="${invoice.date}"></td>
                        <td th:text="${invoice.invoiceNotes}" ></td>
                        <td>
                            <th:block th:switch="${invoice.status.toString()}">
                            <span th:case="'[FINISHED]'" th:text="#{status.FINISHED}"></span>
                            <span th:case="'[CANCELLED]'" th:text="#{status.CANCELLED}"></span>
                            <span th:case="'[CREATED]'" th:text="#{status.CREATED}"></span>
                            </th:block>
                        </td>
                        <td align="center">
                            <form class="colform2" method="post"  th:action="@{/editInvoice}">
                                <input type="text" hidden  th:name="id" th:value="${invoice.invoiceId} ">
                                <button type="submit" class="btn btn-primary" th:text="#{btn.details}"></button>
                            </form>
                            <form class="colform2"  th:action="@{/invoices}"  method="post">
                                <input type="text" hidden  th:name="id" th:value="${invoice.invoiceId} ">
                                <button th:if="${invoice.getStatus().toString()=='[CREATED]' }" type="submit" name="action" value="finish"  class="btn btn-success sm" th:text="#{btn.finish}" ></button>
                            </form>
                            <form class="colform2"  th:action="@{/invoices}"  method="post">
                                <input type="text" hidden  th:name="id" th:value="${invoice.invoiceId} ">
                                <button th:if="${invoice.getStatus().toString()=='[CREATED]'} " type="submit" name="action" value="cancel" class="btn btn-danger" th:text="#{btn.cancel}" ></button>
                            </form>
                            <form class="colform2"  th:action="@{/invoices}"  method="post">
                                <input type="text" hidden  th:name="id" th:value="${invoice.invoiceId} ">
                                <button th:if="${invoice.getStatus().toString()=='[FINISHED]' || invoice.getStatus().toString()=='[CANCELLED]' }" type="submit" name="action" value="delete" class="btn btn-danger sm" th:text="#{btn.del}" ></button>
                            </form>
                        </td>
                    </tr>
                    <table border="1" cellpadding="5" cellspacing="5">
                        <tr>
                        <div th:if="${page.totalPages > 0}"
                             th:each="pageNumber : ${pageNumbers}">
                            <td>
                                <a th:href="@{/invoices(page=${pageNumber}-1)}"
                                   th:text="${pageNumber}"></a>
                            </td>
                        </div>
                        </tr>
                    </table>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<div th:insert="~{fragments/style.html :: style}"></div>
</html>
<style>

    .colform2 {
        float:left;
        width: 32%;
    }
</style>