<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset = "ISO-8859-1"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div th:insert="~{fragments/navbar.html :: navbar}"></div>

<div class="fadeIn first">
    <div class="container-fluid" style="font-size: 20px">
        <div class="container">
            <a href="/admin" class="nav-link"><h2 th:text="#{menu.back}" ></h2></a>
            <h2 th:text ="#{admin.products}"></h2>
            <form method="get" th:action="@{/addProduct}">
                    <button type="submit" class="btn btn-primary" th:text="#{btn.addProduct}"></button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th th:text="#{products.code}" ></th>
                    <th th:text="#{products.name}"></th>
                    <th th:text="#{products.description}"><</th>
                    <th th:text="#{products.cost}"></th>
                    <th th:text="#{products.quantity}"></th>
                    <th class="text-center" width="25%" th:text="#{menu.action}"></th>
                </tr>
                </thead>
                <tbody>
                <div th:each="product:${page.content}">
                    <tr>
                        <td th:text="${product.code}" ></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.description}"><</td>
                        <td th:text="${product.cost}"></td>
                        <td th:text="${product.quantity}"></td>
                        <td align="center">
                            <form class="colform" method="post" th:action="@{/editProduct}">
                                <input type="text" hidden  th:name="id" th:value="${product.productId} ">
                                <button type="submit" class="btn btn-primary" th:text="#{btn.edit}"></button>
                            </form>
                            <form class="colform"  th:action="@{/products}" th:id="${product.productId}" method="post">
                                <input type="text" hidden  th:name="id" th:value="${product.productId} ">
                                <button type="submit" name="action" value="delete" class="btn btn-danger" th:text="#{btn.del}" ></button>
                            </form>
                        </td>
                    </tr>
                </div>
                <table border="1" cellpadding="5" cellspacing="5">
                    <tr>
                        <div th:if="${page.totalPages > 0}"
                             th:each="pageNumber : ${pageNumbers}">
                            <td>
                                <a th:href="@{/products(page=${pageNumber}-1)}"
                                   th:text="${pageNumber}"></a>
                            </td>
                        </div>
                    </tr>
                </table>
                </tbody>
            </table>
        </div>
    </div>
</div>


</body>
<div th:insert="~{fragments/style.html :: style}"></div>
</html>


