<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/head.html :: head}"></div>
<body>
<div th:insert="~{fragments/navbar.html :: navbar}"></div>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <h2 th:text="#{registration.top}"></h2>
        </div>
        <form name="registration" method="post" th:action="@{/registration}" th:object="${form}" >
            <th:block th:if="${error}"><h6 style="color: red" th:text="#{error.login}">  </h6></th:block>
            <input type="text" th:field="*{username}"  class="fadeIn second" required th:placeholder="#{login.log}">
            <input type="password" id="password" class="fadeIn third" required th:field="*{password}" th:placeholder="#{login.pass}">
            <input type="text" th:field="*{name}" class="fadeIn second"required th:placeholder="#{registration.name}">
            <input type="text" th:field="*{surname}"class="fadeIn second" required th:placeholder="#{registration.surname}">
            <input type="submit" class="fadeIn fourth" th:value="#{menu.signup}">
        </form>
    </div>
</div>
</body>
<div th:insert="~{fragments/style.html :: style}"></div>
</html>


