<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset = "ISO-8859-1"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div th:insert="~{fragments/navbar.html :: navbar}"></div>

<div class="fadeIn first">
    <div class="container-fluid" style="font-size: 20px">
        <div class="container">
            <a href="/admin" class="nav-link"><h2 th:text="#{menu.back}" ></h2></a>
            <h2 th:text="#{admin.users}"></h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th><p th:text="#{users.name}" ></p></th>
                    <th><p th:text="#{users.surname}" ></p></th>
                    <th><p th:text="#{users.userRole}" ></p></th>
                    <th class="text-center" width="25%"><p th:text="#{menu.action}" ></p></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${page.content}">
                        <td th:text="${user.name}">
                        <td th:text="${user.surname}"></td>
                    <form th:action="@{/users}" th:id="${user.userId}" method="post">
                        <td>
                            <select  class="form-control"  name="UserRole" required>
                                <th:block th:switch="${user.userRole.toString()}">
                                    <option  th:value="'USER'" th:text="#{role.USER}" th:case="'[USER]'" selected ></option>
                                    <option  th:value="'MERCHANT'" th:text="#{role.MERCHANT}"th:case="'[MERCHANT]'" selected ></option>
                                    <option  th:value="'CASHIER'" th:text="#{role.CASHIER}"th:case="'[CASHIER]'" selected ></option>
                                    <option  th:value="'SENIOR_CASHIER'" th:text="#{role.SENIOR_CASHIER}"th:case="'[SENIOR_CASHIER]'" selected ></option>
                                    <option  th:value="'ADMIN'" th:text="#{role.ADMIN}"th:case="'[ADMIN]'" selected ></option>
                                </th:block>
                                    <option  th:unless="${user.userRole.toString()=='[USER]'}" th:value="'USER'" th:text="#{role.USER}" ></option>
                                    <option  th:unless="${user.userRole.toString()=='[MERCHANT]'}"  th:value="'MERCHANT'" th:text="#{role.MERCHANT}"></option>
                                    <option  th:unless="${user.userRole.toString()=='[CASHIER]'}"  th:value="'CASHIER'" th:text="#{role.CASHIER}"></option>
                                    <option  th:unless="${user.userRole.toString()=='[SENIOR_CASHIER]'}" th:value="'SENIOR_CASHIER'" th:text="#{role.SENIOR_CASHIER}"></option>
                                    <option  th:unless="${user.userRole.toString()=='[ADMIN]'}"  th:value="'ADMIN'" th:text="#{role.ADMIN}"></option>

                            </select>
                        </td>
                        <td align="center">
                               <input type="text" hidden  th:name="id" th:value="${user.userId} ">
                                <button type="submit" name="action" value="update" class="btn btn-primary" th:text="#{btn.edit}" ></button>
                                <button type="submit" name="action" value="delete" class="btn btn-danger" th:text="#{btn.del}" ></button>

                        </td>
                    </form>
                    </tr>
                </th:forEach>
                <table border="1" cellpadding="5" cellspacing="5">
                    <tr>
                        <div th:if="${page.totalPages > 0}"
                             th:each="pageNumber : ${pageNumbers}">
                            <td>
                                <a th:href="@{/users(page=${pageNumber}-1)}"
                                   th:text="${pageNumber}"></a>
                            </td>
                        </div>
                    </tr>
                </table>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
<div th:insert="~{fragments/style.html :: style}"></div>
</html>
